[submodule "source/lib/iniparser"]
	path = source/lib/iniparser
	url = git://github.com/foxtacles/iniparser.git
[submodule "source/lib/time"]
	path = source/lib/time
	url = https://github.com/foxtacles/y2038.git
[submodule "source/lib/packet"]
	path = source/lib/packet
	url = https://github.com/foxtacles/serialization.git
