[submodule "source/iniparser"]
	path = source/iniparser
	url = git://github.com/foxtacles/iniparser.git
[submodule "source/vaultserver/time"]
	path = source/vaultserver/time
	url = https://github.com/foxtacles/y2038.git
[submodule "source/packet"]
	path = source/packet
	url = https://github.com/foxtacles/serialization.git
