#define CHIPTUNE                3000
#define ICON_MAIN               4000
#define POWERED                 5000

ICON_MAIN      ICON    DISCARDABLE   vaultmp.ico
CHIPTUNE       RCDATA  DISCARDABLE   the_wasteland.xm
POWERED        BITMAP  DISCARDABLE   powered.bmp
